@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none;
}

@font-face {
  font-family: "Istok Web";
  src: url("Fonts/IstokWeb-Regular.ttf");
}
@font-face {
  font-family: "Kavivanar";
  src: url("Fonts/Kavivanar-Regular.ttf");
}
@font-face {
  font-family: "Jomhuria";
  src: url("Fonts/Jomhuria-Regular.ttf");
}
@font-face {
  font-family: "JejuGothic";
  src: url("Fonts/JejuGothic-Regular.ttf");
}
@font-face {
  font-family: "Hina Mincho";
  src: url("Fonts/HinaMincho-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("Fonts/JetBrainsMono-Regular.ttf");
}
html,
body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}


.nav-link.active {
  background-color: #425ba5;
}






