@import url("./assets/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none;
}

html,
body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.nav-link.active {
  background-color: #425ba5;
}

.added-coin {
  background-image: url("./assets//images/added.png");
}
